AZURE_API_KEY=your_azure_api_key_here
AZURE_API_KEY2=your_azure_api_key2_here
AZURE_BASE_URL=https://your-azure-apim-instance.azure-api.net/
AZURE_API_VERSION=2024-10-21
CLAUDE_CODE_USE_FOUNDRY=1
CLAUDE_CODE_SKIP_FOUNDRY_AUTH=1
CLAUDE_CODE_DISABLE_EXPERIMENTAL_BETAS=1
#ANTHROPIC_FOUNDRY_RESOURCE=your-foundry-resource-name
ANTHROPIC_FOUNDRY_BASE_URL=https://your-azure-apim-instance.azure-api.net/anthropic
ANTHROPIC_FOUNDRY_API_KEY=your_anthropic_foundry_api_key_here
ANTHROPIC_MODEL=claude-sonnet-4-6