# Environment
.venv/
venv/
env/
.env
*.pyc
__pycache__/
*.py[cod]
*$py.class
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (MNIST downloaded at runtime)
data/

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp
*.swo

# Build / dist
build/
dist/
*.egg-info/
*.egg
/personal.env


/downloads/videos
/downloads/audio
/downloads/pyannote_community-1_standard/
/downloads/pyannote_community-1_exclusive/
/downloads/whisper_large-v3/
/downloads/aligned_standard/
/downloads/aligned_exclusive/
/downloads/grouped_standard/
/downloads/grouped_exclusive/
/logs/